tfoot tr {
    font-size: 1.3em;
    text-align:center;
}

.account-name{
    font-size: 1.15em;
    padding: 1em;
}

.account-value{
    font-size:1em;
}

.date-added{
    position:absolute;
    margin-top: -3px;
}

.yellow-stale {
    background-color: rgb(255, 241, 217) !important;
}

.red-stale {
    background-color: rgb(255, 224, 224) !important;
}